/* 0. Breakpoints ==================================== */
$bp-tablet: 760px;
$bp-desktop: 1020px;
$bp-xl: 1400px;

/* 1. Colors ========================================= */
$primary-color: #ffffff;
$secondary-color1: #9d0000;
$secondary-color2: #d30000;
$textBLk: #1d1c1e;
$textGreyDrk: #333136;
$textGreyLite: #dfdfdf;

/* 2. Fonts  ========================================= */
$HeadFont: "Spartan", sans-serif;
$BodyFont: 'Jost', sans-serif;
$fontMed: 500;
$fontReg: 400;
$fontBold: 700;
$fontLite: 300;


